@using Microsoft.AspNet.Identity
@if (Request.Cookies["UserId"] != null)
{
    using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        
        
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Bonjour " + Request.Cookies["UserId"]["name"] + "!", "Info", "Account", routeValues: new { id = Request.Cookies["UserId"]["id"] }, htmlAttributes: new { id = User.Identity.GetUserId() })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
            </ul>
        
    }




}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S’inscrire", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Se connecter", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
