body{
        font-family:'Brush Script MT' !important;
        font-size: 21px !important;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 15px;
  z-index: 1;
  color: #ffffff;
}
#loginForm{
    line-height: 1.428571429 !important;
}
.login-container{
    margin-left: 30% !important;
    width: 50%;
    margin-top: 5% !important;
}

.login-container-minus{
    margin: auto;
    border: 3px solid #eeeeee;
    border-radius: 15px;
     width: 100% !important;
         line-height: 1.428571429 !important;

}
h2, h4{
    text-align: center;
    margin-top: 5% !important;
    font-family:'Brush Script MT' !important;

}

.image{
    background-image: url("Ressources/Images/background.jpg");
    background-size: 100% 100%;
    max-width: 100% !important;
    max-height: 100% !important;
    min-height: 600px;
}


.trending{
    width: 150px;
    height: 150px;
    border: 3px solid #eeeeee;
    border-radius: 15px;
}
.populars{
    margin-left: 33%;
    text-align: center;
}

.details{
    border: 3px solid #eeeeee;
    width: 50%;
    margin: auto;
    margin-bottom:5%;
}

.dl-details{
        margin: auto;
        margin-bottom:5%;
    width: 50%;
}


dt{
    text-align: left !important;
    font-size: medium;
    font-family:'Brush Script MT';
}

dd , p{
    margin-bottom: 3%;
    font-family:'Brush Script MT';
}

/*a{
    color: white !important;
}*/
.rating {
    direction: rtl;
    text-align:left;
    white-space:nowrap;
}

.rating a {
   text-decoration: none !important;
   transition: color .4s;
   font-size: 25px;
   margin:-3px;
}

.full {
    color: orange !important;
}

.empty {
    color: #aaa !important;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a
{
   color: orange !important;
   cursor: pointer;
}

#comment{
        margin: auto;
    width: 100%;
    max-width: 100% !important;
}

#comments{
        margin: auto;
    width: 100%;
    max-width: 100% !important;
}


.logo{
     background: url("Ressources/Images/logo.png") no-repeat top left;
     background-color: transparent;
     display: block;
     width: 50px;
     height: 50px;
     text-indent: -9999px; /* hides the link text */
     background-size: 50px 50px;


}


.btn-comment{
      margin-top: 1%;
      margin-left: 45%;
}

.buy-btn-details{
    width: 30%!important ;
    margin-bottom: 5%!important;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(104, 33, 122);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(59, 18, 70);

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(104, 33, 122);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}