.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 15px;
  z-index: 1;
  color: #ffffff;
}

.login-container{
    margin-left: 30% !important;
    width: 50%;
    margin-top: 5% !important;
}

.login-container-minus{
    margin: auto;
    border: 3px solid #eeeeee;
    border-radius: 15px;
     width: 80% !important;
}
h2, h4{
    text-align: center;
    margin-top: 5% !important;
    font-family:'Brush Script MT' !important;

}

.image{
    background-image: url("Ressources/Images/background.jpg");
    background-size: 100% 100%;
    max-width: 100% !important;
    max-height: 100% !important;
    min-height: 600px;
}


.trending{
    width: 150px;
    height: 150px;
    border: 3px solid #eeeeee;
    border-radius: 15px;
}
.populars{
    margin-left: 33%;
    text-align: center;
}

.details{
    border: 3px solid #eeeeee;
    width: 50%;
    margin: auto;
    margin-bottom:5%;
}

.dl-details{
        margin: auto;
        margin-bottom:5%;
    width: 50%;
}


dt{
    text-align: left !important;
    font-size: medium;
    font-family:'Brush Script MT';
}

dd , p{
    margin-bottom: 3%;
    font-family:'Brush Script MT';
}

a{
    color: white !important;
}
.rating {
    direction: rtl;
    text-align:left;
    white-space:nowrap;
}

.rating a {
   text-decoration: none !important;
   transition: color .4s;
   font-size: 25px;
   margin:-3px;
}

.full {
    color: orange !important;
}

.empty {
    color: #aaa !important;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a
{
   color: orange !important;
   cursor: pointer;
}

.logo{
     background: url("Ressources/Images/logo.png") no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     text-indent: -9999px; /* hides the link text */
}
