.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 15px;
  z-index: 1;
  color: #ffffff;
}

.login-container{
    margin-left: 30% !important;
    width: 50%;
    margin-top: 5% !important;
}

.login-container-minus{
    margin: auto;
    border: 3px solid #eeeeee;
    border-radius: 15px;
     width: 80% !important;
}
h2{
    text-align: center;
    margin-top: 5% !important;
}

.image{
    background-image: url("Ressources/Images/background.jpg");
    background-size: 100% 100%;
    max-width: 100% !important;
    max-height: 100% !important;
    min-height: 600px;
}
