@model ViewModels.MusicsResponseVM

@{
    ViewBag.Title = "BuyConfirmation";
}

<h2>BuyConfirmation</h2>

<div>
    <p>Oh it seems you already bought @Model.Music1.Name on 10H !
    </p> <br />
    <p>Please download it if you want to listen to it on your own computer</p>
    <p>We hope to see you again soon !!</p>
</div>